APP_PORT=8082
GRPC_PORT=9092
APP_ENV=development

# địa chỉ gRPC của các service con
NETWORK_STATION_GRPC_ADDR=network-station:9090
RTK_STATION_GRPC_ADDR=rtk-station:9090
MANAGE_INFO_GRPC_ADDR=manage-info:9090
